/*  Container */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  background-color: black;
  font-family: 'Inter', sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  height: 70px;
}

.logo {
  font-size: 1.5rem;
  font-weight: 800;
  color: #075985;
}

.back-home-btn {
  background-color: #2563eb;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

/* Main Wrapper */
.login-main-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-card {
  background: white;
  width: 100%;
  max-width: 450px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.login-header {
  text-align: center;
  margin-bottom: 30px;
}

.login-header h2 {
  font-size: 1.8rem;
  color: #000000;
  margin-bottom: 8px;
}

/* Form Styles */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group label {
  font-size: 0.85rem;
  font-weight: 700;
  margin-bottom: 6px;
  color: #000000;
  display: block;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  font-size: 1rem;
}


.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  color: #475569;
}

.remember-me input {
  accent-color: #2563eb;
}

.forgot-link {
  color: #2563eb;
  text-decoration: none;
  font-weight: 600;
}

/* Login Button */
.login-btn {
  background-color: #000000;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  margin-top: 10px;
}

.login-footer-link {
  text-align: center;
  margin-top: 25px;
  color: #64748b;
  font-size: 0.9rem;
}

.login-footer-link span {
  color: #2563eb;
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
}

/* Footer */
.footer {
  background-color: #000000;
  padding: 20px;
  width: 50%;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.footer-text {
  color:white;
  font-size: 0.95rem;
  text-align: center;
}
.link-text {
  color: #2563eb;
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
  margin-left: 5px;
}

.link-text:hover {
  color: #1d4ed8;
}

.forgot-link {
  color: #2563eb;
  font-size: 0.85rem;
  font-weight: 600;
  cursor: pointer;
}